*{padding: 0px;
margin: 0px;}

body{
    font-family: "poppins",sans-serif;
}
.logo,.search{
    color: red;

}

.searchbar{
    display: flex;
    border: solid black 1px;
    width: 30%;
justify-content: space-around;
border-radius: 30px;
padding: 10px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    
}
.filtersection{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
}
.filterbox{
    color:black;
    
}

.filterbox:hover{
    color: black;
    cursor: pointer;

}
.card-img{
    border-radius: 10px;
    transition: 1s;
    position: relative;
}
.card-img:hover{
    transform: scale(1.1);
}
img:hover{
transform: scale(1.1);

}
.hotel-container{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
